@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
* {
  font-family: "Quicksand", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* -----------------header section start */
.nav {
  max-width: 1159px;
  margin: 0 auto;
  display: flex;
  padding: 20px 0;
}
.logo {
  display: flex;
  align-items: center;
  gap: 11px;
}
.logo img {
  width: 62px;
  height: 62px;
}
.logo h4 {
  color: #111;
  font-size: 32px;
  font-weight: 700;
  line-height: 30px;
}

.nav_links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}
.nav_links ul {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  list-style: none;
}
.nav_links ul li:nth-child(1) {
  color: #fea301;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}
.nav_links ul li:nth-child(2) {
  color: #01acfd;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}
.nav_links ul li:nth-child(3) {
  color: #05d4df;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}

.nav_links ul li:nth-child(4) {
  color: #5d58ef;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}
.nav_links button {
  border-radius: 12px;
  background: #fea301;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  padding: 10px;
  border: none;
  width: 197px;
}
