@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
* {
  font-family: "Quicksand", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1159px;
  margin: 0 auto;
}
.marq {
  padding: 10px 0;
  color: #ffffff;
}
/* -----------------header section start */
.nav {
  display: flex;
  align-items: center;
  padding: 20px 0;
}
.nav .collapse_icon {
  display: none;
}
.logo {
  display: flex;
  align-items: center;
  gap: 11px;
}
.logo img {
  width: 62px;
  height: 62px;
}
.logo h4 {
  color: #111;
  font-size: 32px;
  font-weight: 700;
  line-height: 30px;
}

.nav_links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}
.nav_links ul {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  list-style: none;
}
.nav_links ul li:nth-child(1) {
  color: #fea301;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}
.nav_links ul li:nth-child(2) {
  color: #01acfd;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}
.nav_links ul li:nth-child(3) {
  color: #05d4df;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}

.nav_links ul li:nth-child(4) {
  color: #5d58ef;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}
.nav_links button {
  border-radius: 12px;
  background: #fea301;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  padding: 10px;
  border: none;
  width: 197px;
}
/* ----------------- hero section start */
.hero {
  display: flex;
  gap: 50px;
}
.hero_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}
.hero_content h2 {
  color: #111;
  font-size: 56px;
  font-weight: 700;
  line-height: 61px;
}
.hero_content h2 .highlight {
  color: #fea301;
}
.hero_content h2 .last_highlight {
  color: #01acfd;
}
.hero_content p {
  color: #111;
  font-size: 20px;
  font-weight: 400;
}
.hero_content button {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  border-radius: 12px;
  background: #111;
  padding: 10px;
  width: 197px;
  border: 0;
}

/* standard_curriculum start */

#standard_curriculum {
  background-image: url("../assets/bg.png");
}

#standard_curriculum .container > h2 {
  color: #000;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 46px;
  font-weight: 700;
  line-height: 57.5px;
  margin-top: 80px;
}
#standard_curriculum .content_container {
  margin: 80px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
}
#standard_curriculum .content_container .card {
  padding: 50px;
  border-radius: 19px;
  box-shadow: 0px 0px 28.296px 0.943px rgba(0, 0, 0, 0.05) inset;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}
#standard_curriculum .content_container .card:nth-child(1) {
  border: 0.943px solid #def5ff;
  background: linear-gradient(180deg, #def5ff 0%, rgba(255, 255, 255, 0) 40%),
    #fff;
}
#standard_curriculum .content_container .card:nth-child(2) {
  border: 0.943px solid #fff4dc;
  background: linear-gradient(180deg, #fff4dc 0%, rgba(255, 255, 255, 0) 40%),
    #fff;
}
#standard_curriculum .content_container .card:nth-child(3) {
  border: 0.943px solid #f2e8ff;
  background: linear-gradient(180deg, #eee1ff 0%, rgba(255, 255, 255, 0) 40%),
    #fff;
}
#standard_curriculum .content_container .card img {
  width: 136.763px;
  height: 136.763px;
}
#standard_curriculum .content_container .card h2 {
  color: #202020;
  text-align: center;
  font-size: 24.523px;
  font-weight: 700;
  line-height: 30.654px;
}
#standard_curriculum .content_container .card p {
  color: #808080;
  text-align: center;
  font-size: 15.091px;
  font-weight: 500;
  line-height: 28.296px;
  font-family: "Raleway", serif;
}
#standard_curriculum .content_container .card button {
  color: #64c8ff;
  text-align: center;
  font-size: 15.091px;
  font-weight: 700;
  line-height: 28.296px;
  border: 0;
  background-color: transparent;
}
#standard_curriculum .content_container .card:nth-child(2) button {
  color: #f0aa00;
}
#standard_curriculum .content_container .card:nth-child(3) button {
  color: #8700ff;
}
#standard_curriculum .arrow_container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 60px;
}
#standard_curriculum .arrow_container .left,
#standard_curriculum .arrow_container .right {
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background: #fea301;
  cursor: pointer;
}
#standard_curriculum .arrow_container .left:hover,
#standard_curriculum .arrow_container .right:hover {
  background-color: #8700ff;
}
/* standard_curriculum end */

/* our stories start */
#our_stories {
  background: linear-gradient(
      0deg,
      rgba(254, 163, 1, 0.3) 0%,
      rgba(255, 255, 255, 0.3) 100%
    ),
    url("../assets/bg.png");
}
#our_stories .container > h2 {
  color: #000;
  text-align: center;
  font-size: 46px;
  font-weight: 700;
  line-height: 57.5px;
}
#our_stories .card_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin: 80px auto;
}
#our_stories .card_container .card {
  border-radius: 16px;
  background: #fff;
}
#our_stories .card_container .card:nth-child(1) {
  grid-row: 1 / span 2;
  grid-column: 1 / span 2;
}
#our_stories .card_container .card img {
  width: 100%;
  border-radius: 16px 16px 0px 0px;
}
#our_stories .card_container .card .content {
  position: relative;
  padding: 40px 38px 28px 38px;
}
#our_stories .card_container .card .content:nth-child(1) {
  padding: 60px 38px 34px 38px;
}
#our_stories .card_container .card .content h2 {
  color: #000;
  font-family: "Quicksand", serif;
  font-weight: 700;
  font-size: 15.339px;
  line-height: 28.761px;
}
#our_stories .card_container .card:nth-child(1) .content h2 {
  font-size: 24px;
  line-height: 38.347px;
}
#our_stories .card_container .card .content .badge {
  position: absolute;
  top: -30px;
  left: 30px;
  display: flex;
  padding: 14.38px 18.876px 15.339px 19.174px;
  justify-content: center;
  align-items: center;
  border-radius: 47.934px;
  color: #fff;
  font-family: "Raleway", serif;
  font-size: 15.339px;
  font-weight: 500;
  line-height: 28.761px;
  text-transform: capitalize;
}
#our_stories .card_container .card:nth-child(1) .content .badge {
  background: #3cd8e8;
}
#our_stories .card_container .card:nth-child(2) .content .badge,
#our_stories .card_container .card:nth-child(4) .content .badge,
#our_stories .card_container .card:nth-child(5) .content .badge {
  background: #95b226;
  padding: 9.587px 18.876px 10.545px 19.174px;
}
#our_stories .card_container .card:nth-child(3) .content .badge {
  background: #5d58f0;
  padding: 9.587px 18.876px 10.545px 19.174px;
}
#our_stories .card_container .card .content .desc {
  color: #666;
  font-family: "Raleway", serif;
  font-size: 15.339px;
  font-weight: 500;
  line-height: 28.761px;
  margin-top: 55px;
}
#our_stories .button_container {
  display: flex;
  justify-content: center;
}
#our_stories button {
  border-radius: 12px;
  background: #111;
  padding: 10px;
  color: #fff;
  font-family: "Quicksand", serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  width: 197px;
  border: 0;
  margin: 0 auto 60px auto;
}
/* our stories end  */
/* footer start */
#footer {
  background-color: #01acfd;
}
#footer .content {
  padding: 128px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
#footer .content .logo {
  display: flex;
  gap: 5px;
}
#footer .content .logo h2 {
  color: #fff;
  font-family: "Quicksand", serif;
  font-size: 42.143px;
  font-weight: 700;
  line-height: 39.509px;
}
#footer .content .left p {
  color: #fff;
  font-family: "Quicksand", serif;
  font-size: 20px;
  font-weight: 400;
  margin-top: 36px;
  max-width: 399.02px;
}
#footer .content .right {
  display: grid;
  grid-template-columns: 50% 50%;
}
#footer .content .right .about h2 {
  color: #fff;
  font-family: "Quicksand", serif;
  font-size: 24px;
  font-weight: 700;
}
#footer .content .right .about ul {
  list-style: none;
  margin-top: 30px;
}
#footer .content .right .about ul li {
  color: #fff;
  font-family: "Quicksand", serif;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}
#footer .content .right .social h2 {
  color: #fff;
  font-family: "Quicksand", serif;
  font-size: 26px;
  font-weight: 700;
}
#footer .content .right .social_links {
  margin-top: 30px;
}
/* footer end */

/* media quires start */
@media only screen and (max-width: 767px) {
  .container {
    padding: 0 20px;
  }
  .nav {
    border-bottom: 0.5px solid #fea301;
    padding-bottom: 10px;
    justify-content: space-between;
  }
  .nav .collapse_icon {
    display: block;
    margin-left: auto;
    margin-right: 0px;
    width: fit-content;
  }
  .nav_links {
    display: none;
  }
  .hero {
    flex-direction: column-reverse;
  }
  .hero .hero_content {
    text-align: center;
    justify-content: center;
  }

  .hero img {
    width: 100%;
  }
  .hero_content h2 {
    font-size: 32px;
    line-height: normal;
  }
  .hero_content p {
    font-size: 14px;
    line-height: normal;
  }
  .hero .hero_content button {
    margin: 0 auto;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    padding: 5px 10px;
  }
  #standard_curriculum {
    background-image: url("/assets/bg.png") lightgray 50% / cover no-repeat;
  }
  #standard_curriculum .container > h2 {
    font-size: 26px;
    line-height: normal;
  }
  #standard_curriculum .content_container {
    grid-template-columns: 1fr;
    margin: 40px 0;
  }
  #standard_curriculum .arrow_container {
    display: none;
  }
  #our_stories .card_container {
    grid-template-columns: repeat(2, 1fr);
  }
  #our_stories .container > h2 {
    font-size: 26px;
    line-height: normal;
  }
  #our_stories .card_container {
    margin: 40px 0;
  }
  #our_stories .card_container .card .content {
    padding: 30px 20px 28px 20px;
  }
  #our_stories .card_container .card .content .badge {
    font-size: 10px !important;
    padding: 5px 10px !important;
    line-height: 15px;
    top: -17px;
    left: 20px;
  }
  #our_stories .card_container .card:first-child {
    display: none;
  }
  #footer .content {
    grid-template-columns: 1fr;
  }
  #footer .content .right {
    grid-template-columns: 1fr;
  }
}

/* media quires end */
